body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; margin: 0; padding: 20px;
    background-color: #f8f8f8; color: #333;
}

h1, h2 { color: #000000; margin-top: 25px; margin-bottom: 10px; }
h1 {
    text-align: center;
    border-bottom: 6px solid #000000; padding-bottom: 10px;
}
h2 { font-size: 1.8em; }

p { margin-bottom: 15px; }

ul, ol { margin-bottom: 15px; padding-left: 25px; }
li { margin-bottom: 8px; }